@use "../../../../styles/variables" as var;
@use "../../../../styles/mixins";


.database_credentials_form {
  width: 100%;

  .form_row {
    display: grid;
    padding: var.$spacing-xs 0;
    grid-template-columns: 1fr 1fr;
    gap: var.$spacing-md;
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  .single_form_row {
    padding: var.$spacing-sm 0;
    display: flex;
    flex-direction: column;
    gap: var.$spacing-sm;
  }

  .test_connection {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var.$spacing-md;

    .button_wrapper {
      width: 125px;
    }
  }
}