@use "../../styles/variables";
@use "../../styles/mixins" as mixin;

.project_dashboard_page {
  @include mixin.base-page-style;
  background-color: #fafafa;
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  .header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: variables.$spacing-md;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;

    .title {
      font-size: 1.75rem;
      font-weight: 600;
      color: #333;
    }

    .button_wrapper {
      max-width: 150px;
    }
  }

  .navigation_bar {
    width: 100%;
    border-bottom: 1px solid variables.$border-color;
    padding: variables.$spacing-md 0 ;

    .navigation_bar_item_list {
      width: 100%;
      display: flex;
      flex-direction: row;
      list-style: none;
      overflow-x: auto;
      gap: variables.$spacing-xl;
      margin: 0;
      padding: 0;

      .navigation_bar_item_list_item {
        color: variables.$gray-700;

        &:hover {
          color: variables.$highlight-blue;
          cursor: pointer;
        }

        &.active_tab {
          color: variables.$highlight-blue;
          border-bottom: 1px solid variables.$highlight-blue;
        }
      }
    }
  }

  .content_container {
    flex: 1 1 0;
    max-height: 80%;
    overflow: auto;
  }
}